<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.gnut3ll4.requestlocation"
        version="0.1.0">
    <name>RequestLocation</name>
    <description>PhoneGap Request Location Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,request,location</keywords>


    <js-module src="www/requestlocation.js" name="RequestLocation">
        <clobbers target="requestlocation" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="RequestLocation">
                <param name="android-package" value="com.gnut3ll4.requestlocation.RequestLocation"/>
            </feature>
        </config-file>
		
		<config-file target="AndroidManifest.xml" parent="/*">
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
		</config-file>

        <source-file src="src/android/RequestLocation.java" target-dir="src/com/gnut3ll4/requestlocation" />
    </platform>
</plugin>